<html>

<head>
    <title>Faculty</title>
    <script src="/jquery.js"></script>
</head>

<body>
    <div>
        <h1><a href="/faculty">Faculty Section</a><a href="/" style="float:right">Home</a></h1>
        <form action="/faculty/signin" method="post">
            <fieldset>
                <legend>
                    <h2>Go inside</h2>
                </legend>
                <input type="number" name="roll_no" placeholder="Faculty Id" autofocus>
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Signin">
            </fieldset>
        </form>
    </div>
</body>

</html>