<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome</h1>
    <ul>
        <li>
            <h2><a href="/student">Student</a></h2>
        </li>
        <li>
            <h2><a href="/faculty">Faculty</a></h2>
        </li>
        <li>
            <h2><a href="/hod">Hod</a></h2>
        </li>
    </ul>
</body>

</html>