<html>

<head>
    <title>HOD</title>
    <script src="/jquery.js"></script>
</head>

<body>
    <div>
        <h1><a href="/hod">HOD Section</a><a href="/" style="float:right">Home</a></h1>
    </div>
    <ul>
        <li>
            <h2><a href="/hod/signin">Signin</a></h2>
        </li>
        <li>
            <h2><a href="/hod/signup">Signup</a></h2>
        </li>
    </ul>
</body>
<script>

</script>

</html>